
header {
  background-color: #cdcdcd;
  
}

h1 {
  font-family: courier; 
}


h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
  font-family: courier;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
  }
  
