<!DOCTYPE html>
<html>
<head>
<style>

h1 {
  font-family: courier; 
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p {
  font-family: courier;
  font-size: 
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
  }
  
</style>
</head>
<body>