
html {
  background-color: #cdcdcd;
  
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
}


h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
  font-family: courier;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
  }

  
